{% extends 'base.html' %}
{% load static %}

{% block title %}
TweetBook
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/posts/details.css' %}" />
{% endblock style %}

{% block content %}
<div class="container info my-5" id="{{ id }}">

</div>
<div class="container update my-2">

</div>
<div class="container comments">
    <h1>Comments</h1>
</div>
{% endblock content %}

{% block js %}
<script src="{% static '/js/posts/details.js' %}"></script>
{% endblock js %}